.main-layout {
  height: 100%;

  .main-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  .main-layout-content {
    padding: 20px;
    padding-top: 84px;
  }
}
